<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Portfolio </span></div>
		
		<li><a ui-sref=".business">Show Services</a></li>
		
		<div ui-view="books"> </div>
		<div ui-view="business"> </div>
		</div>
    </div>
</div>